"menu": [
  {
    "label": "Packages"
    "submenu": [
      "label": "clearcase"
      "submenu": [
        {
          "label": "cmdTest"
          "command": "clearcase:cmdTest"
        }
        {
          "label": "checkout"
          "command": "clearcase:checkout1"
        }
        {
          "label": "Select File"
          "command": "clearcase:selectFile"
        }
        {
          "label": "New Host"
          "command": "clearcase:newHost"
        }
        {
          "label": "Edit Host"
          "command": "clearcase:editHost"
        }
        {
          "label": "Get File(s)"
          "command": "clearcase:getFile"
        }
      ]
    ]
  }
  {
    "label": "File"
    "submenu": [
      "label": "Open ClearCase Project"
      "command": "clearcase:openProject"
    ]
  }
]

'context-menu':
  '.tree-view.full-menu': [
    {
      'type': 'separator'
    }
    {
      'label': 'Upload...'
      'command': 'clearcase:upload'
    }
    {
      'label': 'Make'
      'command': 'clearcase:make'
    }
    {
      'label': 'Refresh status'
      'command': 'clearcase:refreshFileStatus'
    }
    {
      'type': 'separator'
    }
  ]
  '.ccstatus-checkedout': [
    {
      'type': 'separator'
    }
    {
      'label': 'Undo check out'
      'command': 'clearcase:undoCheckout'
    }
    {
      'label': 'Check in'
      'command': 'clearcase:checkin'
    }
    {
      'type': 'separator'
    }
  ]
  '.ccstatus-checkedin': [
    {
      'type': 'separator'
    }
    {
      'label': 'Check out'
      'command': 'clearcase:checkout'
    }
    {
      'type': 'separator'
    }
  ]
  '.ccstatus-private': [
    {
      'type': 'separator'
    }
    {
      'label': 'Add to Source Control'
      'command': 'clearcase:addSourceControl'
    }
    {
      'type': 'separator'
    }
  ]
